<h1 class="title">Table Data</h1>

<div class="container sixty has-text-centered">
	<p>Timestamp: <%= data.timestamp %></p>
	<p>Humidity: <%= data.humidity %></p>
	<p>Temperature: <%= data.temperature %></p>
	<p>Lightintensity: <%= data.lightintensity %></p>
	<p>Windspeed: <%= data.windspeed %></p>
	<p>Windspeed_cum: <%= data.windspeed_cum %></p>
</div>